//Colors
$background-color: #666;
$text-color: #fff;
$white: #fff;
$black: #000;
$text-color: #333;

// Base
body {
	font-family: 'Open Sans', sans-serif;
	background-color: $background-color;
}

// Specific
.header-tabs {
	li {
		a {
			color: $text-color;
		}
	}
}

.main {
	&__question {
		font-size: 20px;
		color: $text-color;
		text-align: center;
	}

	&__image {
		width: 400px;
		height: 400px;
	}

	&__answer {
		padding-top: 20px;
		text-align: center;

		.form-control {
			display: inline-block;
			width: 200px;
		}
	}
}
